.ermahgerd{
	max-width:100%;
	margin: 0 auto;
	display:block;
}
.container{
	position: relative;
	max-width:900px;
	font-family: 'Montserrat', sans-serif;
	color:#505151;
}
.morgan{
	font-size:2.2em;
	font-family: 'Poiret One', cursive;
	padding-right:12px;
	font-weight:800;
}
.roi{
	width:125px;
	height:auto;
	margin-bottom:-13px;
}
.blue{
	background-color:#333399;
	color:white;
}
.star-icon{
	width:50px;
	height:auto;
}
h1{
	font-size:3em;
	margin-bottom:3px;
}
h5{
	font-size:2.2em;
	font-family:'Amatic SC';
	color:#333399;
	font-weight:800;
	margin-bottom:-4px;
}
h6{
	font-size:1em;
	font-family:'Roboto';
	color:#ffccff;
	padding-bottom:12px;
}
p{
	font-family: 'Roboto', Arial, sans-serif;
}
footer{
	background:#505151;
	color:#fff;
}