---
layout: default
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Montserrat|Poiret+One|Amatic+SC" rel="stylesheet">
  </head>
  <body>
  	<!-- <div class="stars">
  	<div class="container h-100 px-0"> -->
	    <nav class="pt-1 blue">
	    	<div class="container blue">
	    		<div class="px-3">
			      	<img src="{{ '/assets/images/roi_transparent.png' | relative_url }}" class="d-inline-block roi">
			      	<h4 class="d-inline-block morgan align-bottom mb-2">Morgan Stone</h4><h1 class="d-inline-block align-bottom">.EMAIL</h1>
			      	<div class="d-inline-block align-bottom mb-2">about me</div>
			      	<div class="d-inline-block align-bottom mb-2">blog</div>
			    </div>
		    </div>
	    </nav>
	    <div class="container">
	    <section class="px-3">
	    	<br><br>
	      	<h5>Foundations of Email</h5>
	      	<h6>October 4, 2018</h6>
	      	<p>The format you choose to save your images for emails can drastically change a viewer’s experience. Choose the correct file types to keep your emails looking sharp and the overall size of your email smaller for faster loading times.</p>
			<p>There are 3 different file types commonly used for images: JPG, PNG, and GIF.</p>
			<p>
			JPG
			•	Perfect for complex images in email
			•	Moderate file size
			•	When saving simple images with minimal colors such as logos or text “noise” can obscure your image and make it look fuzzy. This “noise” gets more prominent the lower quality you choose to compress your JPG. Choose PNG-8 or GIF to get a higher quality image that is much smaller in file size.</p>
			<p>
			PNG-8
			•	Great for logos, vector art, and text
			•	Displays up to 256 colors
			•	File size is small
			•	Can be saved with transparency
			</p><br><br>
	    </section>
	    <section class="px-3"><br><br>
	      	<h5>Developing an Email Template</h5>
	      	<h6>October 4, 2018</h6>
	      	<p>The format you choose to save your images for emails can drastically change a viewer’s experience. Choose the correct file types to keep your emails looking sharp and the overall size of your email smaller for faster loading times.</p>
			<p>There are 3 different file types commonly used for images: JPG, PNG, and GIF.</p>
			<p>
			JPG
			•	Perfect for complex images in email
			•	Moderate file size
			•	When saving simple images with minimal colors such as logos or text “noise” can obscure your image and make it look fuzzy. This “noise” gets more prominent the lower quality you choose to compress your JPG. Choose PNG-8 or GIF to get a higher quality image that is much smaller in file size.</p>
			<p>
			PNG-8
			•	Great for logos, vector art, and text
			•	Displays up to 256 colors
			•	File size is small
			•	Can be saved with transparency
			</p><br><br>
	    </section>
	    <section class="px-3"><br><br>
	      	<h5>Optimizing Images for Email</h5>
	      	<h6>October 4, 2018</h6>
	      	<p>The format you choose to save your images for emails can drastically change a viewer’s experience. Choose the correct file types to keep your emails looking sharp and the overall size of your email smaller for faster loading times.</p>
			<p>There are 3 different file types commonly used for images: JPG, PNG, and GIF.</p>
			<p>
			JPG
			•	Perfect for complex images in email
			•	Moderate file size
			•	When saving simple images with minimal colors such as logos or text “noise” can obscure your image and make it look fuzzy. This “noise” gets more prominent the lower quality you choose to compress your JPG. Choose PNG-8 or GIF to get a higher quality image that is much smaller in file size.</p>
			<p>
			PNG-8
			•	Great for logos, vector art, and text
			•	Displays up to 256 colors
			•	File size is small
			•	Can be saved with transparency
			</p><br><br>
	    </section>
	</div>
	    <footer class="p-5">
	      <img src="{{ '/assets/images/star_icon_transparent_03.png' | relative_url }}" class="d-inline-block star-icon"> <div class="float-right">&copy; {{ site.copyright }}</div>
	    </footer>
	<!--</div>
</div>-->
  </body>
</html>